@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300&display=swap');
body {font-family: "Poppins", sans-serif; margin: 0;}
section {min-height: 100vh;}
article {width: 90%; max-width: 600px; padding: 20px; margin: 0px auto;}
p {font-size: 1.5em; text-align: center;}
section#AboutMe, section#IdealJob, section#Contact {background-color: #4F5D75; color: #FFFFFF;}
section#Personality, section#ProjectIdea {background-color: #7989A4; color: #FFFFFF;}
.nav-container {position: sticky; top: 0; width: 100%; background-color: #2D3142;}
.navbar {display:grid; grid-template-columns: 0.2fr auto 1fr; align-items: center; height: 80px; width: 90%; max-width: 1720px; margin: 0 auto;}
#navbar-logo {justify-self: start; margin-left: 20px;}
.nav-menu {display: grid; grid-template-columns: repeat(5,auto); list-style: none; text-align: center; width: 70%; justify-self: end;}
.nav-links {color: #FFFFFF; text-decoration: none;}
.nav-links:hover {color: #EF8354; transition: all 0.2s ease-out;}
.nav-menu img {width: 25px; height: 25px; vertical-align: middle; margin-right: 10px;}
